@{
    ViewData["Title"] = "Heroes";
}

<div class="text-center">
    <div class="center-all">
        <a class="btn btn-primary" asp-area="" asp-controller="Heroes" asp-action="Heroes">HEROES</a>
    </div>
</div>
